@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GeekStore.UI.Models.Customers.DiskProductsViewModel

<div style="background-color:#333; width:25%; float:left; height:auto; min-height:1320px; margin-left:-14px;">

</div>
<div style="width:75%; float:right; position:relative;">
    <div>
        <table id="items" style="margin-top:75px;width:100%; margin-bottom:25px;">
            @{
                for (int i = 0; i < Model.Disks.Count() / 3; i++)
                {
                    <tr style="height:250px;">
                        @{ foreach (var disk in Model.Disks.Skip(i * 3).Take(3))
                            {
                                <td style="width:263px;">
                                    <div id="product" style="margin-bottom:55px;">
                                        <a href='@Url.Action("ViewDetails", "Disk", new { diskId = disk.ID })'>
                                            <img src="~/Images/Products/Components/CPUs/@disk.Manufacturer @disk.Model .png" alt="Image" style="height:220px; width:60%; margin-left:20%;" />
                                            <p style="font-family: Arial Black;"><strong>@disk.Manufacturer @disk.Model </strong></p>
                                        </a>
                                        <div style="margin-top:15px; margin-left:10px; margin-right:10px;">
                                            <p style="font-family: Arial Black; float:left;"><strong>@disk.Price$</strong></p>
                                            <button onclick="location.href='@Url.Action("ViewDetails", "Disk", new { diskId = disk.ID })';return false;" class="btn btn-default" style="float:right;">Details</button>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                            }
            }

        </table>
    </div>
    <div style="position:absolute; margin-top: 1280px;">
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Disk/Index">First</a>
                    </li>
                    <li>
                        <a href="~/Disk/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Disk/Index?page=@page">@page</a>
                    </li>}

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Disk/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Disk/Index?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>